@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');
body {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 35px auto 60px auto 300px;
  grid-template-areas: 
  ". header ."
  "slider slider slider"
  ". catalog ."
  ". content ."
  "footer footer footer";
  row-gap: 30px;
  margin-top: 30px;
  }

.page-title{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.page-title h1{
  text-align: center;
  font-size: 48px;
  background-color: #000000;
  color: #ffffff;
  padding-left: 50px;
  padding-right: 50px;
}

.page-title h2{ 
  text-align: center;
  font-size: 18px;
  color: #000000;
  
}

  #pageHeader {
  grid-area: header;
  }

    #headerInnerGrid {
      display: grid;
      grid-template-columns: 1fr  1fr;
      grid-template-rows: 35px;
      grid-gap: 30px;
      align-items: center;
      justify-self: end;
      }
    
    .header-menu{
      min-width: 550px;
    }

    .header-menu_link{
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
      color: #777777;
      padding-left: 20px;
    }
    .header-menu_link:hover{
      color: #000000;
      
    }
    .header-menu_link-activ{
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none;
      color: #000000;
      padding-left: 20px;
    }


  #mainSlider {
  grid-area: slider;
  }

    #sliderInnerGrid {
      display: grid;
      grid-template-columns: 1fr  4fr 1fr;
      grid-template-rows: 450px 100px;
      grid-gap: 30px;
    
    }
    .slider {
      background-image: url(../img/slider.png);
      background-color: #777777;
    }

    .slider__container{
      margin: auto;
      text-align: center;
    }
    .slider__nav-prew{
      margin-top: auto;
      text-align: center;
    }

    .slider__nav-next{
      margin-top: auto;
      text-align: center;
    }

    .slider__nav-dots{
      margin: auto;
      text-align: center;
    
      grid-column-start: 1;
      grid-column-end: 4;
    }


  #mainCatalog {
  grid-area: catalog;
  
  
  }

.main-catalog  {
  border-bottom: 1px solid slategrey;
  border-top: 1px solid slategrey;
  
  
  
  
  list-style: none;
  height: 58px;
  
}
.main-catalog_list {
  height: 50px;
  
  width: 60%;
  min-width: 550px;
  padding-top: 20px;
  margin: 0 auto;
  
}

.main-catalog_list li {
  padding: 4px;
  float: left;
  list-style: none;
}

.main-catalog_link {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #777777;
}

.main-catalog_link:hover {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

  #mainContent {
  grid-area: content;
  }

  #pageFooter {
    grid-area: footer;
    }

  
    footer {
  
      background: gold;
      }

  #catalogInnerGrid {
      display: grid;
      grid-template-columns: 2fr 2fr 2fr;
      grid-template-rows: 35px;
      grid-gap: 35px;
      }
  
      #catalogInnerGrid > div {
      background: lightgreen;
      padding: 8px;
      }
      
/*body {
  font-family: sans-serif;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 0.5fr 5fr 0.5fr;
  grid-template-rows: 90px 650px auto 300px;
  grid-template-areas: 
  ". header ."
  "slider slider slider"
  ". content ."
  "footer footer footer"
  ;
  row-gap: 20px;
}

.header {
background: #555555;
grid-area: header;

}
.header-container{
  display: grid;
  grid-template-columns: 1fr 2fr 4fr;
  grid-area: "header-logo . header-menu";
}

.header-logo{
  grid-area: header-logo;
}

.header-menu{
  grid-area: header-menu;
}

.header-menu__nav{}

.slider {
  background: #a04f4f;
  grid-area: slider;
}

.content {
  background: #182383;
  grid-area: content;
}

.footer {
  background: #167a13;
  grid-area: footer;
  }


# sourceMappingURL=style.css.map */